# Ignore IDE settings
.vscode
# Ignore virtual environment folders (python)
.env
# Ignore Mac specific files
*.DS_Store

# Project specific
# Ignore the build and lib dirs
project/Code/build/*
project/Code/lib/*
# Ignore any executables
project/Code/bin/*
# Ignore dSYM folder (debug symbols)
*.dSYM